.contact{
    justify-content: center;
    padding-left: 20%;
    display: flex;
    
    gap: 30px;

    h1{
          font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size: 43px; 
        color:  rgb(31, 29, 29);
        padding-bottom: 20px;
    }
}

.infoo{
    padding-top: 30px;
      width: 100%;
    h2{
        color: rgb(31, 29, 29);
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
    }

    p{
        margin-bottom: 30px;
        color:#636161;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
       font-weight: 600;
      
      
    }
}
.form{
    input{
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        /* border-left: none; */
        border-right: none;
        border-top: none;
        border-radius: 10px;
    }

    p{
        line-height: 30px;
            font-size: 1.1rem;
        margin-bottom: 20px;
        padding-top: 4%;
        color:#3f3d3d;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        
    }

    button{
         margin-top: 10px;
        padding: 15px;
        font-size: 15px;
        /* width: 140px; */
        font-weight: bold;
        border: none;
        background-color: black;
        color: white;
        margin-bottom: 10px;
    }

     button:hover{
          background-color: white;
        color:black;
        box-shadow:  0 4px 12px rgba(0, 0, 0, 0.493);
    }
}

@media(max-width:600px){
    .contact{
        flex-direction: column;
        padding-left: 5%;
    }
}