.ovelay{
    display: none;
     inset: 0;
      backdrop-filter: blur(1.5px);
    z-index: 10000;
      position: fixed;
       transition: opacity 0.25s ease;
    opacity: 1;
}

.ovelay.show{
    display: block;
  /* background: rgba(0,0,0,0.35); */
}

.ovelay{opacity: 0; pointer-events: none;}

.ovelay.show{opacity: 1; pointer-events: auto;}

.mobiile-nav.show{
     pointer-events: auto;
     opacity: 1;
   
}

.mmenu{

            display:block;
            margin-left: 84%;
            /* position: relative;
            z-index: 1; */

            button{
               padding: 10px 20px;
                  background: #111;
                  color: #fff;
                  border: none;
                  border-radius: 6px;
                  cursor: pointer;
            } 
            

            
 }

.mobiile-nav{
    max-height: 100vh;
    top: 7%;
    left: 28%;
    /* right: 0; */
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
    height:80vh;
    margin-bottom: 30px;
    /* /margin-left: 5%; */
    width: 40%; 
    position: fixed;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    z-index: 20002;
    transition: transform 0.3 ease,opacity 0.25s ease;
    opacity: 0;
    background-color: white;
    pointer-events: none;
    /* justify-content: center; */
    /* overflow-y: auto; */
}

.formm{

    h1{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .bul{
       margin-left: 90%;
       padding: 2px;
    }

    .diii{
     display: flex;
     justify-content:space-between;
     

     input{
        margin: 14px;
        height: 5vh;
        width: 50%;
        padding: 7px;
     }

     select{
        margin: 14px;
         height: 7.5vh;
         padding: 5px;
        width: 50%;
     }

}

  span{
        color:#2196f3;
        text-decoration: underline;
    }

    
}

.form-butt{
          margin-top: 10px;
        padding: 15px;
        font-size: 15px;
        /* width: 140px; */
        font-weight: bold;
        border: none;
        background-color: black;
        color: white;
        margin-bottom: 10px;
        width: 80%;
        margin-left: 9%;
    }

@media(max-width:600px){
    .mobiile-nav{
        width: 90%;
        left: 4%;
         padding: 5px;
         height: 86vh;
    }

     .mmenu{
            margin-left: 70%;
            margin-bottom: 10px;

            button{
                padding: 5px 10px;
            }
          }

          .formm{
            .bul{
                margin-left: 80%;
            }
          }
}

