.main-ul{
    display: flex;
    justify-content:center;
    gap:30px;
     padding-top: 10px;
    list-style: none; 
    

    li{
        color: rgb(255, 253, 253);
        font-size: 20px;
    }
}

.mobile-nav{
    display: none;
}

.overlay{
    display: none;
}

.overlay.show{
    display: block;
    position: fixed;
    inset: 0;
    /* background: rgba(0,0,0,0.35); */
    backdrop-filter: blur(1.5px);
    z-index: 10000;
    transition: opacity 0.25s ease;
    opacity: 1;
}

.overlay{opacity: 0; pointer-events: none;}

.overlay.show{opacity: 1; pointer-events: auto;}


.mobile-nav{
    display: none;
}



.mobile-nav.show{
    display: flex;
     opacity: 1;
   
}


.mobile-nav{
    padding: 30px;
    gap: 20px;
    border-radius: 0 20px;
    height: 100vh;
    width: 200px;
    position: fixed;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    z-index: 20002;
    transition: transform 0.3 ease,opacity 0.25s ease;
    opacity: 0;
    background-color: white;

    ul{
        display: block;
        padding-top: 4%;
        list-style: none;
    }

    li{
        padding-top: 17px;
        font-size: 20px;
    }

    
}


.menu{
    display: none;
}



@media(max-width:600px){
      
          .nav{
            display: none;
           
          }

          .menu{

            display:block;
            margin-left: 10px;
            border-radius: 10px;
            /* padding-top: 6px; */
            padding-left: 10px;
            font-size: 7px;
            width: 60px;
            height: 5vh;
            /* margin-top: 3%; */
            padding-top: 10px;


            
          }

         
      
         
}