.video-wrapper{
    overflow: hidden;

    .overlay{
        background: rgba
        (0,0,0,0.3);
        z-index: 0;
    }
}



.hero-mg{
    display: none;
   
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 43%;
    width: 6%;
    padding-top: 10px;
    /* height: 10vh; */

    
}

.intro {
    text-align: center;

    h1{
        font-size: 70px;
    }

    button{
        margin-top: 10px;
        padding: 15px;
        font-size: 15px;
        width: 140px;
        font-weight: bold;
        border: none;
        background-color: black;
        color: white;
    }

    button:hover{
          background-color: white;
        color:black;
        box-shadow:  0 4px 12px rgba(0, 0, 0, 0.493);
    }
    
}


.admmm{
    margin-left: 90%;
    padding: 15px;
        /* font-size: 15px; */
        width: 110px;
        font-weight: bold;
        border: none;
        background-color: black;
        color: white;
        align-items: end;
        border-radius: 5px;
        margin-top: 10px;
}
.home-contan{
    align-items: center;
    h1{
        text-align: center;
        padding-top: 30px;
        padding-left: 4%;
        padding-right: 4%;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}
.home-card{
    padding: 3%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.cardd{
    /* height: 53vh; */
   box-shadow: 1px 0 2px grey;
    width: 30%;
    border-radius: 10px;
    padding: 1%;
    border-bottom: 4px black solid;
    

    img{
        width: 95%;
        height: 30vh;
    }
     
    h2{
         font-size: 1.8 rem;
        margin-bottom: 10px;
        color: rgb(31, 29, 29);
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 10px;
    }
    p{
        font-size: 1rem;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color:#3f3d3d;
    }

    button{
         background-color: black;
        color: white;
        border: none;
        padding: 10px 18px;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 10px;

        
    }

    button:hover{
            transform: translateX(-10px);
        }
}

@media(max-width:600px){
    .hero-img{
        display: none;
    }

    .home-card{
        padding-top: 20px;
    }

    .cardd{
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
        padding-top: 15px;
        padding-left: 10px;
    }

    .intro{
        h1{
            font-size: 40px;
            padding-left: 12%;
            padding-right: 12%;
        }

        button{
            width: 100px;
            font-size: 10px;
            margin-top: 10px;
        }
    }

    .hero-btn{
        /* margin-top: 40%; */
        margin-left: 35%;
    }

    
    .hero-mg{
         display: flex;
         padding-left: 20px;
         width: 60%;
         padding-top: 40%;
        height: 20vh;
        margin-left: 17%;
    }
    
    .admmm{
        display: none;
    }
}

@media(max-width:450px){

    .hero-mg{
         display: flex;
    
       padding-left: 20px;
         width: 70%;
         padding-top: 50%;
        height: 15vh;
        margin-left: 10%;
    
    }

    .hero-btn{
         /* margin-top: 55%; */
        margin-left: 25%;
    }

    
}