.ba{
    background-color: black;
    padding-bottom: 13px;
}

.info{
    width: 100%;
}

.info-hero{
     background: linear-gradient(rgba(0, 0, 0, 0.432)) , url('https://media.istockphoto.com/id/1973194125/photo/hairdresser-shaping-eyebrows-of-man-client-using-razor-in-barbershop.jpg?s=1024x1024&w=is&k=20&c=AC5VYIcA4X86f66sO6gP3r0NBtWezfL_q7qZKVA7zAQ=');
    width: 100%;
    position: relative;
    Height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size: 70px;
        font-weight:100;
        padding-top: 9%;
        text-align: center;
        color: white;
    }

    h4{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:100;
    text-align: center;
    color: white;
    padding-top: 2%;
     padding-left: 23%;
    padding-right: 23%;
    }
}  

.black{
    color: white;
    background: black;
    width: 60%;
    margin-top: 6%;
    margin-bottom:2%;
    padding-left: 40px;
    padding: 2%;
    display: flex;
    justify-content: space-around;

    .bl-flex{
        font-weight: bold;
        padding: 10px;
    }
    
    p{
        font-weight: bold;
        line-height: 27px;
        padding-left: 20px;
        color: gray;
    }
}

.about{
    
    margin-top: 9%;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-left: 10%;
    padding-right: 10%;

    img{
        width: 40%;
        height: 70vh;
    }

     button{
        margin-top: 10px;
        padding: 15px;
        font-size: 15px;
        /* width: 140px; */
        font-weight: bold;
        border: none;
        background-color: black;
        color: white;
    }
    

    .infoma{
        width: 50%;

        h1{
             font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size: 50px;
        font-weight:bold;
        padding-top: 5%;
        text-align: center;
        color:  rgb(31, 29, 29);
        }

        p{
           line-height: 30px;
            font-size: 1.1rem;
        margin-bottom: 20px;
        padding-top: 4%;
        color:#3f3d3d;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        }

        span{
            font-size: 30px;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
             color:  rgb(31, 29, 29);
        }
    }
}
@media(max-width:600px){
    .info-hero{  

    
        h4{
            padding-top: 4;
            padding-left: 3%;
    padding-right: 3%;
        }
    }

    .black{
        width: 65%;
        flex-direction: column;
        margin-top: 24%;

        p{
            font-weight: 100;
            /* font-size: 12px; */
        }
    }

    .about{
        margin-top: 48%;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;

        img{
            width: 100%;
            display: none;
        }

        .infoma{
            width: 95.5%;
            background:  linear-gradient(rgba(0, 0, 0, 0.726)) ,  url('https://preview.colorlib.com/theme/br/img/about/about_lft.png');
            padding: 10px;
            
            h1{
                font-size: 30px;
                padding-top: 0%;
                text-align: start;
                color: white;

            }

            p{
                color: white;
            }

            span{
                color: white;
            }
        }
    }

    
}

