.gallery{
    width: 100%;
   
    h1{
        text-align: center;
        padding-top: 50px;
    }
}

.gal-card{
    width: 30%;
    
    img{
        width:90%;
        border-radius: 10px;
        height: 50vh;
        margin-bottom: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.541);
    }
}

.gal{
     margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content:center;
    /* gap: 10px; */
    flex-wrap: wrap;
    
}

@media(max-width:600px){

    .gal{
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
        gap: 10px;
    }

    .gal-card{
        width: 100%;
        img{
            height: 50vh;
            width:100%;
          border-radius: 10px;
          
         
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.541);
        }
    }
}